# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config
config.json
config.example.json

# Build
asf_tg_bot
ASF_Tg_Bot.exe
